body {
  background-color: #cdf0ea;
}

hr {
  background-color: powderblue;
  border-style: none none dotted;
  border-color: grey;
  border-width: 4px;
  width: 30%;
}
h1 {
  color: #3c5186;
}
h2 {
  color: #3c5186;
}
h3 {
  color: #3c5186;
}
img {
  border-radius: 50%;
  height: 195px;
}
